@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Raleway:wght@200&family=Taviraj&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1Font: 'Fira Sans', sans-serif;
    --h2Font: 'Raleway', sans-serif;
    --pFont: 'Taviraj', serif;
    --mainGrey: #302b27;
    --mainWhite: #f5f3f5;
    --neonGreen: #c6f91f;
}
h1 {
    font-family: var(--h1Font);
}
h2 {
    font-family: var(--h2Font);
}
a, p {
    font-family: var(--pFont);
}
li {
    list-style-type: none;
}

.navbar-brand img {
    width: 6rem;
    height: 6rem;
}
.toggler-icon {
    outline: none !important;
}